{
  "name": "yicon",
  "common": {
    "title": "YIcon",
    "footer": "© 2016 <a href='http://ued.qunar.com/ymfe/' target='_blank'>YMFE Team</a>. Build by <a href='https://github.com/YMFE/ydoc' target='_blank'>ydoc</a>.",
    "home": "YMFE",
    "homeUrl": "http://ymfe.tech/",
    "navbars": []
  },
  "options": {
    "insertCSS": [
      "./theme/yicon.css"
    ],
    "hasPageName": true
  },
  "resources": {
    "images": "./docs/images/",
    "theme": "./docs/theme"
  },
  "pages": [
    {
      "name": "index",
      "title": "站点",
      "banner": {
        "title": "YIcon",
        "description": "去哪儿网图标字体生成平台"
      },
      "content": "./docs/home.md"
    },
    {
      "name": "build",
      "title": "部署",
      "banner": {
        "title": "部署字体站",
        "description": "自行搭建字体生成平台方式"
      },
      "content": "./README.md"
    },
    {
      "name": "release",
      "title": "版本",
      "banner": {
        "title": "YIcon 版本",
        "description": "版本迭代和历史记录"
      },
      "content": "./Releases.md"
    }
  ]
}
