{
  "name": "yicon",
  "common": {
    "title": "YIcon",
    "footer": "© 2016 <a href='http://ued.qunar.com/ymfe/' target='_blank'>YMFE Team</a>. Build by <a href='https://github.com/YMFE/ydoc' target='_blank'>ydoc</a>.",
    "home": "YMFE",
    "homeUrl": "http://ymfe.tech/",
    "navbars": []
  },
  "options": {
    "insertCSS": [
      "./theme/yicon.css"
    ],
    "hasPageName": true
  },
  "resources": {
    "images": "./docs/images/",
    "theme": "./docs/theme"
  },
  "pages": [
    {
      "name": "index",
      "title": "YIcon",
      "banner": {
          "title": "YIcon",
          "description": "YIcon 是一个集图标上传、展示、使用于一身的字体图标管理平台，Ta 拥有严格的审核流程、可控的项目版本和完善的权限管理。<p><a href=\"introduction.html\" class=\"getting\">Getting Started</a></p><p class=\"version\">当前版本：1.0.2</p>"
      },
      "content": "./docs/index.md"
    },
    {
      "name": "introduction",
      "title": "简介",
      "banner": {
        "title": "YIcon",
        "description": "去哪儿网图标字体生成平台"
      },
      "content": "./docs/home.md"
    },
    {
      "name": "build",
      "title": "如何部署",
      "banner": {
        "title": "部署字体站",
        "description": "自行搭建字体生成平台方式"
      },
      "content": "./README.md",
      "menuLevel": 2,
    },
    {
      "name": "usage",
      "title": "使用说明",
      "banner": {
        "title": "平台使用说明",
        "description": "如何通过平台生成自己的图标字体"
      },
      "menuLevel": 2,
      "content": "./docs/usage.md"
    },
    {
      "name": "releases",
      "title": "版本记录",
      "banner": {
        "title": "YIcon 更新版本记录",
        "description": "Releases"
      },
      "menuLevel": 2,
      "content": "./Releases.md"
    }
  ]
}
